@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root{
--color-img: #D9D9D9;
--color-text:#FF8682;
--color-text2:#313131;
--color-btn:#3869EB;
}


body {
  font-family: "Poppins", sans-serif;
}

.login-contenedor {
  width: 1000px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  border: 1px solid rgb(195, 226, 247);
  border-radius: 20px;
  

}
.login-contenedor p{
  color: var(--color-text2);
}
.signup-contenedor {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}
.login-form{
  width: 450px;
  padding: 40px;
}
.login-form p{
  color: var(--color-text2);
}
.login-form div{
  margin-bottom: 15px;
}
label{
  display: inline-block;
  margin-bottom: 5px;

}
#email, 
#password{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.checkbox a{
margin-left: 190px;
}
.checkbox label{
  font-size: 15px;
}
.button  button{
  width: 100%;
  padding: 10px;
  background-color:var(--color-btn) ;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
button:hover{
  background-color: #D9D9D9;
  color: #3869EB;
}
.button div{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
a{
  text-align: right;
  text-decoration: none;
  color: var(--color-text);
  
}
.icon-contenedor{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  gap: 8px;
}
.icon{
  display: flex;
  align-items: center;
justify-content: center;
  border: 1px solid var(--color-btn);
  width: 50px;
  height: 45px;
  padding: 0px 45px;
  border-radius: 6px;
}
.icon:hover{
  background-color: var(--color-btn);
  border: 1.5px solid white;
}
 .contenedor{
  position: relative;
  text-align: center;
  margin: 20px;
 }
.linea{
  border-top: 1px solid #ccc;
  margin-top: 20px;
  width: 100%;
}
.contenedor span{
  position:absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  padding: 0 20px;
  color: var(--color-text2);
}
 .signup-contenedor{
  width: 1000px;
  height: 140vh;
  margin-top: 60px;
  border-radius: 20px;
  padding: 30px;
  border: 1px solid rgb(179, 220, 243)
 }
 .signup-form{
  padding: 40px;
 }
 .signup-form div{
  margin-bottom: 15px;
}
.signup-datos{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.signup-datos div{
  flex: 1 1 calc(50% -1rem);

}
.signup-datos div {
  flex: 1 1 calc(50% -1rem);

}
.signup-datos input {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;

}