@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  
  --font-color:#F5F5F5;
  --primary-color: #69B99D;
  --text-color:#73788C;
  --text1-color:#054457;
}
body {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
}
.Navbar{
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 20px;
  background-color: var(--font-color);

}
.logo-principal{
  color: #4BA586;
    display: flex;
    align-items: center;
}
.logo-principal span{
  font-size: 24px;
  margin: 0px 7px;
}

nav ul{
  display: flex;
  flex-direction: row;
  list-style: none;

}
nav ul li{
margin: 0px 25px;
  
}
nav ul li a{
  color: var(--text-color);
text-decoration: none;
}
nav ul li a:hover{
  color: var(--primary-color);
}
.Navbar div:last-child{
  display: flex;
  gap: 7px;
  align-items: center;
}

.button {
  color: var(--primary-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;

  
}
.iconly:hover,
.button:hover {
  background-color: var(--primary-color);
  color: var(--font-color);
  box-shadow: 0px 3px 27px 6px #b4dcd5;
}
.btn1 button{
  font-size: 18px;
  background-color:var(--font-color);
  padding: 0.9rem 2.4rem;
  border-radius: 5px;
}
.btn2{
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: end;
  gap: 10px;
}
.btn2 button{
  background-color: #ffff;
  font-size: 18px;
 
}
.btn3 button{
  width: 100%;
  border: 1px solid var(--primary-color);
  padding: 10px 20px;
  font-size: 1em;
  background-color: #ffff;
  margin-top: 10px;
}
.newsletter button{
  font-size: 16px;
  padding: 10px 14px;
  border: none;
}
.seccion1{
  display: flex;
  flex-direction: row;
  gap: 200px;
  background-color: var(--font-color);
  width: 100%;
  height: 104vh;
  box-sizing: border-box;
}
.titulo{
width: 50%;
}
.titulo h1{
  font-family: "Rubik", sans-serif;
  letter-spacing: 0.5px;
  margin: 12px 0;
  padding: 0;
  font-size: 48px;
  color: var(--text1-color);
}
.titulo p{
  letter-spacing: 0.25%;
  padding: 2px 0px;
  width: 450px;
  line-height: 26px;
  font-size: 16px;
  color: var(--text-color);
}
#color-titulo {
  letter-spacing: 0.5px;
  padding: 7px 18px;
  margin: 6px 0px;
  color:var(--primary-color)
}
.text-titulo{
  width: 165px;
  background-color: #ffff;
  color: var(--primary-color);
  
}
.text-color1{
font-size: 1em;
color: var(--text-color);
line-height: 1.5;
padding-right: 120px;
}
.text-container{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 680px;
  padding-left: 100px;
box-sizing: border-box;
gap: 23px;

}
.text-descripcion{
  width: 600px;
  margin-top: 5px;
  margin-bottom: 30px;
}
.text-descripcion h1{
  font-family: "Rubik", sans-serif;
  font-size: 64px;
  margin: 0;
  padding: 0px ;
  
}
.text-descripcion p{
  margin-top: 20px;
  color: var(--text-color);
  line-height: 1.5;
}

.img-container {
  margin-top: 45px;
  margin-left: 726px;
  position: absolute;
}


.img-container img {
border: none;
outline: none;
  display: block
}
.seccion2{
  padding: 65px 100px;
  background-color: #ffff;
  height: 95vh;
  
}
.primero{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0px;
}
.seccion-card{
  width: 100%;
  display: flex;
flex-direction: row;
margin-top: 40px;
justify-content: space-between;
}
.card{
  border: 1px solid #bec4df;
  width: 320px;
  border-radius: 8px;
  overflow: hidden;
  padding: 16px;

}
.card:hover{
  box-shadow: 0 4px 30px 6px rgba(0, 0, 0, 0.1);
}
.card-img{
  width: 100%;
  height: auto;
}
.card-content p{
  font-size: 1em;
  margin: 8px 0;
  color: var(--text-color);
}
.card-content h3{
  margin: 0;
  font-size: 1.5em;
 
}
.card h3, p {
  margin: 5px 0px
}
.precio-content{
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;

}
.precio-content p{
    margin: 8px 0px;
}
#precio{
  color: var(--primary-color);
  font-size: 1.4em;
  font-weight: bold;
}
.area{
  padding: 5px 5px;
  background-color: var(--font-color)
}
.advantages-section{
  padding: 60px 100px;
    background-color:var(--font-color);
    height: 97vh;
}
.card-advantage{
  cursor:pointer;
  padding: 20px;
  width: 315px;
  border: 1px solid rgb(238, 232, 232);
}
.card-advantage:hover{
  box-shadow: 0 7px 9px rgba(0, 0, 0, 0.1);
}
.card-advantage h1{
  font-size: 28px;
  letter-spacing: 0.5px;
  margin: 0;
  padding: 8px 0;
  color: var(--text1-color);
}
.card-advantage p{
  letter-spacing: 0.5px;
  font-size: 16px;
  color: var(--text-color);
}
.advantage-container{
  margin-top: 35px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
.footer{
height: 255px;
background-color:var(--font-color);
padding: 65px 110px;
}
.footer-content{
  display: flex;
  flex-direction: row; 
  
}
.footer-content h3{
  font-size: 18px;
}
.footer-about{
  padding: 20px 10px;
  width: 35%;
  
}
.footer-about p{
  font-size: 17px;
  line-height: 1.5;
}
.footer-about div{
  margin-bottom: 10px;
}
.newsletter input{
  color: var(--text-color);
  background-color: white;
  padding: 11px;
  width: 70%;
  border: 1px solid #fdfcfc;
  border-radius: 3px;
}
.footer-link h2{
  margin-top:15px;

}
.footer-link ul{
  padding: 0;
  list-style: none;
}
.footer-link ul li{
  margin-bottom: 10px;
  margin-bottom: 30px;
}
.footer-link ul li a{
  text-decoration: none;
  color: var(--text-color);
}
.footer-link ul li a:hover{
  color: #34b27b;
}
.footer-links{
  margin-left: 260px;
  width: 65%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.footer-icon{
  text-align: center;
}
.footer-icon div{
display: flex;
gap: 20px;
}

